body{
	font-family: 'Open Sans', sans-serif;
	background-color: #f2f2f2;
}
progress {
	width: 400px;
	height: 14px;
	margin: 1em auto;
	display: block;
	background: #73e0b8;
	-webkit-appearance: none;
	border: none;
}
/* Header */
.Header{
	background: #73e0b8;
	width: 100%;
	height: 300px;
	text-align: center;
	  position: relative;
}
.Header-figureYonathan{
	  display: inline-block;
	  margin-top: 5%;
	  margin-right: 10em;
	  height: 200px;  
}
.Header-figureJhonny{
      display: inline-block;
      margin-top: 5%;
      height: 200px;
      
}
.Header-figureImage{
	border: 3px solid  #1E1E1E;
	border-radius: 50%;
	width: 150px;
	-webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
.Header-figureImage:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); 
}
.Header-figureDescription{
	font-size: 1.5em;
	margin: 0;
}
.Header-twitterJhonny,
.Header-twitterYonathan{
	text-decoration: none;
	color:  #1E1E1E;
	font-weight: 700;
}
/* nav */
.Nav{
	background: #1E1E1E;
	text-align: center;
	height: 3.75em;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
}
.Nav-ul{
	margin: 0;
	padding: 0;
}
.Nav-li{
	display: inline-block;
}
.Nav-link{
	color: #ffffff;
	text-decoration:none;
	line-height: 3.75em;
	margin:0 4em 0 0;
	font-weight: 700;
}
/* About */
.About-title{
	text-align: center;
	margin: 3em auto;
	font-weight: normal;
	text-align: center;
}
.About{
	width: 100%;
	display: inline-block;
}
.About-description{
 	display: inline-block;
 	float: left;
 	width: 40%;
 	padding: 1em 1em 1em 4em ;
}
.About-skill{
	position: relative;
	float: right;
	width: 40%;
	padding: 1em 4em 1em 1em;
}
.About-description h3,
.About-skill h3{
	text-align: center;
}
.Habilidades{
	text-align: center;
}
.Habilidades-title{
	text-align: center;
	margin: 3em auto;
	font-weight: normal;
	text-align: center;
}
.Habilidades-Icon{
	width: 10%;
	display: inline-block;
	vertical-align: top;
	margin: 20px;
	line-height: 1em;
    padding: 10px;
}
.Services{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.Services-title{
	text-align: center;
	margin: 3em auto;
	font-weight: normal;
	text-align: center;
}
.Services-Icon{
	display: inline-block;
	vertical-align: top;
	width: 15%;
	line-height: 1em;
    padding: 10px;
    margin-bottom: 2em;
}
.Services-Icon a{
	    text-decoration: none;
}
.Footer{
	background:#1E1E1E;
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: .5em;
	color: white;
}
